@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.eot');
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBold.eot');
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff'),
    url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.eot');
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-ExtraBold.eot');
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
    url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-ExtraBold.woff2') format('woff2'),
    url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
    url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.eot');
  src: local('Open Sans Light'), local('OpenSans-Light'),
    url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Light.woff2') format('woff2'),
    url('../fonts/OpenSans-Light.woff') format('woff'),
    url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

html *,
html *::before,
html *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}


.button {
  display: block;
  text-align: center;
  width: 400px;
  background-color: #FA8315;
  cursor: pointer;
  border-radius: 65px;
  color: #fff;
  padding: 23px 44px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  max-width: max-content;
}

.button--mod {
  background-color: #000;
  border-radius: 50px;
  padding: 16px 35px;
}

.button:hover {
  background-color: #FFB876;
}

.button:focus {
  background-color: #FF993A;
}

.title {
  margin: 0 auto;
  margin-bottom: 40px;
  color: #121212;
  text-align: center;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
}

.title span {
  font-weight: 300;
}

.header {}

.header__top {
  background-color: #2052C9;
  color: #fff;
}

.header__logotype {}

.header__label {}

.header__phone {}

.navigation {}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__link {}

.main {}

.first-screen {
  background: linear-gradient(77deg, #06090E 52.7%, #162836 72.15%, #2C3B44 83.31%);
  color: #fff;
  padding: 50px 0 100px;
}

.first-screen .title {
  color: inherit;
}

.first-screen .title span {
  font-weight: 700;
}

.first-screen span {
  color: #2052C9;
}

.first-screen__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.first-screen__item {}


.services {}

.services span {
  font-weight: 400;
}

.brands-logo {}

.brands-logo__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.brands-logo__item {}

.brands-logo__icon {}

.services__description {}

.services__text {}

.services__left {}

.services__logo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {}

.services__title {}

.services__price {}

.services__icon {}

.services__center {}

.services__logo {}

.services__right {}

.prices {}


.custom-form {}


.features {}

.features span {
  font-weight: 400;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {}

.features__title {}

.features__text {}

.contacts {}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__item {}

.contacts__label {}

.map {}

.footer {}

.footer__logotype {}

.footer__caption {}

.footer__title {}

.footer__text {}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__social-item {}

.footer__social-link {}

.footer__copyright {}

.dialog-modal {}

.vissually-hidden {}
